<a href="https://colab.research.google.com/github/BeccaOY/BeccaOY/blob/main/Customer_Subscription_Status_Prediction_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BUSINESS OBJECTIVE:
- Train a model to predict customers who will unsubscribe in July 2018

BUSINESS HYPOTHESES: 
Customers who unsubcribe are likely...
- Received too many emails
- Acquired recently
- Not as engaged 
	- less store visit
	- less email open & click
	- spend less
	- shop in fewer product areas
	- no dillards' credit card
- Live further from store

READ IN DATA USING PANDAS

In [93]:
import pandas as pd

In [94]:
sub_status = pd.read_csv('customer_subscription_status.csv')
email_activity = pd.read_csv('customer_email_campaign_agg.txt')
customer_info = pd.read_csv('customer.txt')
store_location= pd.read_csv('store_location.txt')
purchase_info = pd.read_csv('item.txt')

 TESTING FIRST HYPOTHESIS, TOO MANY EMAILS

In [95]:
#view data
email_activity.head()

   customer_id  ...  last_email_click_date
0    225440671  ...                      ?
1    226090744  ...              6/28/2018
2    180891722  ...                      ?
3    166847570  ...                      ?
4    195739838  ...                      ?

[5 rows x 12 columns]

In [96]:
sub_status.head()

   customer_id unsubscribed_yn
0    223824501               N
1    225074975               N
2    225962452               N
3    224503675               N
4    204405913               N

In [97]:
#perform feature engineering by recoding y, n to 0,1
def recode(series):
    if series == 'N':
      return 1
    if series == 'Y':
      return 0
sub_status['unsubscribed_yn'] = sub_status['unsubscribed_yn'].apply(recode)

In [98]:
#check the shape of both dataframes
sub_status.dropna()

       customer_id  unsubscribed_yn
0        223824501                1
1        225074975                1
2        225962452                1
3        224503675                1
4        204405913                1
...            ...              ...
24995    226433167                0
24996    207298191                0
24997    226565446                0
24998    224727461                0
24999    224413915                0

[25000 rows x 2 columns]

In [99]:
activity_x.dropna()

0        55
1        29
2        24
3        22
4         2
         ..
22127    32
22128    24
22129     4
22130    35
22131    30
Name: total_email_sent_count, Length: 22132, dtype: int64

In [100]:
sub_status.head()

   customer_id  unsubscribed_yn
0    223824501                1
1    225074975                1
2    225962452                1
3    224503675                1
4    204405913                1

In [101]:
x_activity = email_activity['total_email_sent_count']
target = sub_status['unsubscribed_yn']

In [102]:
#Scale total 
x = x_activity.iloc[:22100, ]
x

0        55
1        29
2        24
3        22
4         2
         ..
22095    26
22096    28
22097    15
22098    29
22099    40
Name: total_email_sent_count, Length: 22100, dtype: int64

In [103]:
y = target.iloc[:22100,]
y

0        1
1        1
2        1
3        1
4        1
        ..
22095    0
22096    0
22097    0
22098    0
22099    0
Name: unsubscribed_yn, Length: 22100, dtype: int64

SPLIT DATA

In [104]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .33)

BUILD THE MODEL

In [105]:
from sklearn.linear_model import LogisticRegression
#set regularization to generaliza and avoid overfitting
reg = .01
model = LogisticRegression(C=1/reg,solver='liblinear').fit(x_train,y_train)

ValueError: ignored