<a href="https://colab.research.google.com/github/BeccaOY/BeccaOY/blob/main/Lesson3MLHandson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
Titanic = sns.load_dataset('titanic')

In [ ]:
#Recode string data
Titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
x = Titanic[['sex', 'class', 'who', 'adult_male','age']]
x['sex'].replace(['female', 'male'], [0,1])

1      0
3      0
6      1
10     0
11     0
      ..
871    0
872    1
879    0
887    0
889    1
Name: sex, Length: 182, dtype: int64

In [ ]:
x['class'].unique()
x['class'].replace(['Third', 'First', 'Second'], [3,1,2])

1      1
3      1
6      1
10     3
11     1
      ..
871    1
872    1
879    1
887    1
889    1
Name: class, Length: 182, dtype: int64

In [ ]:
x['who'].unique()

array(['woman', 'man', 'child'], dtype=object)

In [ ]:
x['who'].replace(['man', 'woman', 'child'], [0,1,2])

1      1
3      1
6      0
10     2
11     1
      ..
871    1
872    0
879    1
887    1
889    0
Name: who, Length: 182, dtype: int64

In [ ]:
x['adult_male'].replace([ True, False], [1,0])

1      0
3      0
6      1
10     0
11     0
      ..
871    0
872    1
879    0
887    0
889    1
Name: adult_male, Length: 182, dtype: int64

In [ ]:
Titanic.dropna(inplace=True)
Titanic = Titanic.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
Titanic.info()
Titanic.age = Titanic.age.astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     182 non-null    int64
 1   pclass       182 non-null    int64
 2   sex          182 non-null    object
 3   age          182 non-null    int32
 4   sibsp        182 non-null    int64
 5   parch        182 non-null    int64
 6   fare         182 non-null    float64
 7   embarked     182 non-null    object
 8   class        182 non-null    category
 9   who          182 non-null    object
 10  adult_male   182 non-null    bool
 11  deck         182 non-null    category
 12  embark_town  182 non-null    object
 13  alive        182 non-null    object
 14  alone        182 non-null    bool
dtypes: bool(2), category(2), float64(1), int32(1), int64(4), object(5)
memory usage: 17.5+ KB

In [ ]:
Titanic.age

1      38
3      35
6      54
10      4
11     58
       ..
871    47
872    33
879    56
887    19
889    26
Name: age, Length: 182, dtype: int32

In [ ]:
y = Titanic['survived']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.4,random_state=101)

In [ ]:
#Create Decision Tree
decisionTree = DecisionTreeClassifier(random_state=76)
decisionTree.fit(x_train, y_train)

ValueError: could not convert string to float: 'female'

In [ ]:
import sys
try:
    print(5/0)
except Exception as e:
    print('Error on line {}'.format(sys.exc_info()[-1].tb_lineno), type(e).__name__, e)

print('And the rest of program continues')

Error on line 3 ZeroDivisionError division by zero
And the rest of program continues

In [ ]:
treePredictions = decisionTree.predict(x_test)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.